$option: #e99497;
$option-2: #a1a2ae;
$option-3: #fac0c3;
$option-4: #de7484;
$option-5: #dd7c74;
$option-6: #f6b4ac;

$color1: #0c1248;
$color2: #b2b2b2;
$color3: #b8020d;
$color4: #f7f7f7;
$color5: #ffffff;

$bg-dark-mode: #000;
$grey-dark-mode: rgba(66, 66, 66, 0.712);
$white-text: #fff;

$primary: rgb(13, 20, 74);
$primary-2: rgb(12, 17, 72);
$secundary: rgb(216, 36, 38);
$secundary-2: rgb(223, 32, 35);
$other: rgb(180, 180, 180);
$other-2: rgb(178, 178, 178);
$background: rgb(244, 244, 244);
$background-2: rgb(247, 247, 247);

$small: 300px;
$medium: 900px;
