@import './assets/scss/constants.scss';

body {
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
}

body.light-mode {
    h1 {
        color: $primary;
    }
}

body.dark-mode {
    background-color: $bg-dark-mode;
    .background-style {
        background-color: $bg-dark-mode;
    }
    color: $white-text;
    .card {
        background-color: $grey-dark-mode;
        box-shadow: none;
    }
    h1 {
        color: $background;
    }
}
